<div class="grid_3" id="work_nav">
  <h2>Work</h2>
  <ul>
    <li><a href="/work/pivotal">PiVotal</a></li>
    <li><a href="/work/sparclean">SparClean</a></li>
    <li><a href="/work/newcenter">New Center</a></li>
    <li><a href="/work/obesity">Obesity</a></li>
    <li><a href="/work/smartcard">SmartCard</a></li>
    <li><a href="/work/dockers">Dockers</a></li>
    <li><a href="/work/vessel">Vessel Form</a><li>
    <li><a href="/work/faucet">Faucet Design</a></li>
    <li><a href="/work/sketchbook">Sketchbook</a><li>
    <li><a href="/work/typography">Typography</a><li>
    <li><a href="/work/hanger">Hang-Me-Up</a><li>
  </ul>
</div>