

<div class="grid_3">
	<h2> contact </h2>	
	<p><a id= "email_link" href="mailto:a.youna.yang@gmail.com"> a.youna.yang@gmail.com </a></p>
	</div>

<div class="matte">
    <div class="grid_5">
      <p class="padded">Hello! My name is Youna and I just received my Master's degree in Human-Computer Interaction at Carnegie Mellon. I am passionate about designing to improve the quality of life and to increase people&rsquo;s capabilities through products and technology. I am currently seeking opportunities to create <strong>beautiful experiences</strong> with <strong>valuable impact.</strong></p>
      </div>

    <div class="grid_3" style="padding-right:0px;margin:0px">
    	<img src="/Youna_pic.jpg" width="220" height="320" alt="Youna Pic">
    	 </div>
  	 <div class="clear"></div>
</div>