<div class="grid_11 thumbnails ">
	
	<div class="thumbnail">
		<a href="/work/pivotal"><img src="/images/thumbnails/pivotal_box.jpg" alt="Pivotal Box" /></a>
		<div class="overlay">
			<h3>PiVotal</h3>
			<p>Interaction Design : Master's Capstone</p>
		</div>
	</div>
	
<div class="thumbnail">
	<a href="/work/sparclean"><img src="/images/thumbnails/sparclean_box.jpg" alt="Sparclean Box"/></a>
		<div class="overlay">
			<h3>SparClean</h3>
			<p>Interaction Design</p>
		</div>
	</div>
	
<div class="thumbnail">
	<a href="/work/obesity"><img src="/images/thumbnails/obesity_box.jpg" alt="Obesity Box"/></a>
		<div class="overlay">
			<h3>Obesity</h3>
			<p>Print</p>
		</div>
	</div>
	
	<div class="thumbnail">
		<a href="/work/newcenter"><img src="/images/thumbnails/newcenter_box.jpg" alt="Newcenter Box"/></a>
			<div class="overlay">
				<h3>New Center</h3>
				<p>Products in Systems</p>
			</div>
	</div>
	
	<div class="thumbnail">
		<a href="/work/smartcard"><img src="/images/thumbnails/smartcard_box.jpg" alt="Smartcard Box"/></a>
			<div class="overlay">
				<h3>Smart Card</h3>
				<p>Interaction Design Study</p>
			</div>
	</div>
	
	<div class="thumbnail">
		<a href="/work/dockers"><img src="/images/thumbnails/dockers_box.jpg" alt="Dockers Box"/></a>
			<div class="overlay">
				<h3>Dockers</h3>
				<p>Soft Good Development</p>
			</div>
	</div>
	
	<div class="thumbnail disabled">
		<a href="/work/Ohm's Leaf"><img src="/images/thumbnails/ohmsleaf_box.jpg" alt="Ohmsleaf Box"/></a>
			<div class="overlay">
				<h3>Ohm's leaf</h3>
				<p>Coming Soon!</p>
			</div>
		</div>
	
	<div class="thumbnail">
		<a href="/work/vessel"><img src="/images/thumbnails/vessel_box.jpg" alt="Vessel Box"/></a>
			<div class="overlay">
				<h3>Vessel Design</h3>
				<p>Form Development</p>
			</div>
	</div>
	
		<div class="thumbnail">
			<a href="/work/faucet"><img src="/images/thumbnails/faucet_box.jpg" alt="Faucet Box"/></a>
				<div class="overlay">
					<h3>Faucet Design</h3>
					<p>Form Development</p>
				</div>
		</div>
		
		<div class="thumbnail">
			<a href="/work/sketchbook"><img src="/images/thumbnails/sketchbook_box.jpg" alt="Sketchbook Box"/></a>
				<div class="overlay">
					<h3>Sketchbook</h3>
					<p>Hand made &amp; drawn</p>
				</div>
		</div>
		
		<div class="thumbnail">
        <a href="/work/typography"><img src="/images/thumbnails/tyopgraphy_box.jpg" alt="Typography Box"/></a>
				<div class="overlay">
				  <h3>Typography</h3>
				</div>
		</div>
		
		<div class="thumbnail">
			<a href="/work/hanger"><img src="/images/thumbnails/hanger_box.jpg" alt="Hanger Box"/></a>
				<div class="overlay">
					<h3>Hang-Me-Up</h3>
					<p>Down-cycled Experiment</p>
				</div>
		</div>
		
</div>