<%=render(:erb, '_work_nav'.to_sym)%> <!-- <div class = "grid_3" id="work_nav"> -->

<div class="grid_8">
  
  <h3>Whoops!</h3>
  <p>It seems the page you're looking for doesn't exist. Try picking a project on the left.</p>
  
</div>
  
  
