<%=render(:erb, '_work_nav'.to_sym)%> <!-- <div class = "grid_3" id="work_nav"> -->

<div class="grid_8">
  
  <div class="project_images">
      <%=render(:erb, "#{@project}".to_sym)%>
  </div>
  
</div>
  
  
