<div class="matte" id="resume">
  <div class="grid_3" id="resume_download">
    <p><a id="download_resume_text" href="/a.youna.yang_resume.pdf">download a pdf</a></p> 
  </div>  
  
  <div class="clear"></div>
  
        <div class="grid_5">
          
          <h3>Education</h3>
          <h6>Carnegie Mellon University</h6>
          <p class="description">
            01.2010 - 08.2010 / GPA 3.9<br/>
            Master of Human-Computer Interaction</p>
            
          <p class="description">
            08.2006 - 05.2010<br/>
            BFA Industrial Design +</br>
            Human-Computer Interaction
            </p>
          </ul>
          <h6>Eindhoven University of Tech.</h6>
          <p class="description">
            08.2008 - 12.2008<br/>
            Study abroad in Industrial Design
          </p>
        
          <h6>Proficiencies</h6>
          <ul>
            <li>Affinity Diagraming</li>
            <li>Contextual Inquiry</li>
            <li>Personas + Scenarios</li>
            <li>Storyboarding</li>
            <li>Wireframing</li>
            <li>Paper Prototyping</li>
            <li>Think Aloud Protocol</li>
            <li>Usability Testing</li>
            <li>Sketching + Rendering</li>
            <li>3D Prototyping</li>
            <li>Adobe CS5</li>
            <li>PC + Mac Platforms</li>
          </ul>
          
          <h6>Familiarities</h6>
          <ul>
            <li>Solid Works</li>
            <li>HTML + CSS</li>
            <li>Flash + Flash Catalyst</li>
            <li>Java</li>            
          </ul>
          
          <h6>Interests</h6>
          <ul>
            <li>Tennis, Travel, Typography,</li>
            <li>Photography, Sky-diving</li>
          </ul>
          
          <h6>Languages</h6>
          <ul>
            <li>English</li>
            <li>Korean</li>
          </ul>
          
        </div>

        <div class="grid_5">
          <h3>Experience</h3>
          
          <h6>USER EXPERIENCE DESIGNER, GE HEALTHCARE</h6>
          <p class="description">
            01.2010 - 08.2010<br/>
            Carnegie Mellon Master&#x27;s in HCI Capstone Project<br/>
            Researched, designed, and developed a new tool for doctors to quickly and easily view relevant and overall patient information in interdisciplinary team. Lead design of working prototype, reports, videos, and brainstorming sessions.</p>
            
          <h6>DESIGNER, NISSAN</h6>
          <p class="description">
              01.2010 - 05.2010<br/>
            Conducted research, ideated, and designed a work-efficient environment in an electric vehicle with a 20 minute charge time for Echo Boomers. Project members included those with design, business, and engineering backgrounds.</p>
            
          <h6>DESIGN RESEARCH ASSISTANT, CMU HCII</h6>
          <p class="description">
            05.2009 - 08.2009<br/>
          Generated ideas, developed storyboards, and conducted interviews to create products or technology for divorced families who have children that travel between homes.</p>
          
          <h6>DESIGN INTERN, CMU + GENERAL MOTORS</h6>
          <p class="description2">
            05.2008 - 08.2008<br/>
          Performed research on elders and the form language of Chevy Designed physical and visual form of digital dashboards for aging drivers.</p>
          
          <h6>SMART HOME RESEARCH ASSISTANT, CMU HCII</h6>
          <p class="description2">
            01.2008 - 05.2008<br/>
          Acquired research by interviewing family members on a daily basis. Turned freeform interviews into structured models to develop a system to help dual-income families with school age kids cope with daily stress.</p>
          
          <h6>COMPUTING SERVICE ASSISTANT, CMU</h6>
          <p class="description2">
            01.2008 - 05.2008<br/>
Regulated management of clusters, equipment lending, and troubleshooting.</p>
          
          <h3>Involvement</h3>          
          
          <h6>ENGLISH TEACHER, DOMINICAN REPUBLIC</h6>
          <p class="description2">
            11.2009 - 03.2010<br/>
          Taught English in grade schools and served at a local orphanage in Jaibon, DR during the week of spring break. Participated in fundraising.</p>
          
          <h6>LIAISON, SIFE CONCEPT 2 COMPANY </h6>
          <p class="description2">
            08.2009 - 05.2010<br/>
          Supported low-income women in Pittsburgh create business plans. Engaged as liaison to professors for the Concept 2 Company Symposium.</p>
          
          <h6>EXHIBIT DESIGNER, CMU INTERNATIONAL FESTIVAL</h6>
          <p class="description2">
            08.2007 - 12.2007<br/>
          Conducted research of countries, assisted with construction of panels, organized exhibit space in gallery.</p>
          
          <h6>GRAPHIC DESIGN AWARD NOMINEE, AIGA CONTEXT</h6>
          <p class="description2">
            02.2010 - 04.2010<br/>
          Work featured in a local annual juried design show by the American Institute of Graphic Arts.</p>
          
          <p class="description2">
          <h6>  </h6>
          Industrial Design Society of America, PA Governor&#x27;s School for the Arts
          </p>
          
        	 </div>
      	 <div class="clear"></div>
      	 
  </div> 
