<div class="controls">
  <p class="half">
      <a class="previous disabled">Prev</a>
      //
      <a class="next">Next</a>
  </p>
  
  <p class="half right">
    <span class="current_slide">1</span> of <span class="total_slides">1</span>
  </p>  
  <div class="clear"></div>
</div>