<div class="scroller">
<img src="/images/dockers/dockers_1.jpg" alt="first dockers image"/>
<img src="/images/dockers/dockers_2.jpg" alt="second dockers image"/>
<img src="/images/dockers/dockers_3.jpg" alt="third dockers image"/>
</div>
<%=erb(:scroller)%>

<div class="description">
  <h3>Dockers Dual Functional Bag</h3>
  <p class="caption">
    <span class="date">April 2008 : 1.5 months / Client Leeds Manufacturing / Designer </span>
Carry as a briefcase to work, then transform into a backpack for the commute home. Through research of the Dockers&rsquo; new brand language, modern, comfortable and versatile, we designed a bag that fits the needs of a young professional.</p>

<h6>Skills Applied</h6>
<p>Image boarding, Brand identity research, Idea generation, Sketching, Concept development, Sewing</p>

</div>
