<div class="scroller">
<img src="/images/faucet/faucet_1.jpg" alt="first faucet image"/>
<img src="/images/faucet/faucet_2.jpg" alt="second faucet image"/>
<img src="/images/faucet/faucet_3.jpg" alt="3rd faucet image"/>
<img src="/images/faucet/faucet_4.jpg" alt="4th faucet image"/>
<img src="/images/faucet/faucet_5.jpg" alt="5th faucet image"/>
<img src="/images/faucet/faucet_6.jpg" alt="6th faucet image"/>
<img src="/images/faucet/faucet_7.jpg" alt="7th faucet image"/>
</div>
<%=partial(:scroller)%>

<div class="description">
  <h3>Faucet Design</h3>
  <p class="caption">
    <span class="date">February 2008 : 1.5 months / Individual Project</span>
Designed for a Pan-Asian restaurant, the interaction for this faucet was inspired by movements of the Asian fan dance. The user mimics the opening and closing of the fan when (s)he controls the temperature of water with the hot and cold levers. Function and expression, intuition and interpretation were major concepts that I found a balance between.</p>

<h6>Skills Applied</h6>
<p>Idea generation, Sketching, Foam modeling, Concept development, Wood-modeling, Solid Works</p>


</div>
