<div class="scroller">
<img src="/images/hanger/hanger_1.jpg" alt="first recycled product image"/>
</div>
<%=erb(:scroller)%>

<div class="description">
  <h3>Hang-Me-Up</h3>
  <p class="caption">
    <span class="date">May 2008</span>
Creation of a new product through the use of down-cycled materials. Made from thrown away door handles, mirrors, and a door to a kitchen cupboard, this coat rack becomes a new product from post-consumer waste.</p>
</div>
