<div class="scroller">
	
	<div class="video">
<object width="593" height="395"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11291389&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=8fe3e0&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11291389&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=8fe3e0&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="593" height="395"></embed></object>
		</div>
		
  <img src="/images/newcenter/newcenter2.jpg" alt="1st new center image"/>
  <img src="/images/newcenter/newcenter3.jpg" alt="2nd new center image"/>
  <img src="/images/newcenter/newcenter4.png" alt="3rd new center image"/>
  <img src="/images/newcenter/newcenter5.jpg" alt="4th new center image"/>
	<img src="/images/newcenter/newcenter6.png" alt="5th new center image"/>
	<img src="/images/newcenter/newcenter7.jpg" alt="6th new center image"/>
	<img src="/images/newcenter/newcenter8.jpg" alt="7th new center image"/>
	<img src="/images/newcenter/newcenter9.jpg" alt="8th new center image"/>
	
</div>
<%=partial(:scroller)%>

<div class="description">
  <h3>New Center</h3>
  <p class="caption">
    <span class="date">May 2009 : 4months / Client Bayer Material Science / Design Research Lead</span>
		
		The New Center redefines the concept of a senior center for a decade into the future, while creating a positive notion of aging into the later years. Purpose: positively provide elders a mentally, physically, and socially stimulating experience. With its underlying healthcare component in each of it&rsquo;s respective rooms, the New Center assists its members to maintain and strengthen their abilities.</p>
		
      <h6>Skills Applied</h6>
      <p>User Research &amp; Interviewing, Make tools (Velcro modeling &amp; Role-Playing), Lead brainstorming sessions, Idea Generation, Sketching &amp; Storyboarding, Concept Development, Video Sketch Production </p>
    </div>


<div class="description">
  <h3>New Center</h3>
<h4>Where we went</h4>
  <p class="caption"> 
  Observed 3 different senior centers that had a diverse range in living styles from those with dementia to those living independently (Anathan House, Mt. Washington, &amp; South Side Senior Centers)</p>

  <h4>Who we talked to</h4>
  <ul>
    <li>2 directors: the Anathan House &amp; the South Side Senior Center</li>
    <li>1 expert on aging</li>
    <li>1 head nurse from Seymour Adult Day Care</li>
		<li>1 director from Seymour Adult Day Care</li>
		<li>elders in pittsburgh ranging from 60-90 years old</li>
  </ul>
</div>

<div class="description">
  <h3>New Center</h3>
<h4>MAKE TOOLS AS WELL AS TRADITIONAL INTERVIEWS USED TO DISCOVER KEY FINDINGS</h4>
  <p class="caption"> 
Puppets were used as a make tool to get participants to put themselves in the persona of either a doctor, caretaker, or themselves. This facilitated our research since with this make tool, elders acted out how they felt a persona would interact, communicating to us directly about what they think about these people or a certain scenario.</p>
</div>

<div class="description">
  <h3>New Center</h3>
  <p class="caption"> 
Through talking with expert caretakers and elders themselves we discovered many needs and challenges that elders face both immediately and long-term. This diagram displays the opportunity for improvement in the existing senior centers.</p>
</div>

<div class="description">
  <h3>New Center</h3>
<h4>IDEA GENERATION + CONCEPT DEVELOPMENT</h4>
  <p class="caption"> 
	After completing our research and identifying the main user needs, we aimed to produce an idea that incorporated technology to provide physical activity, mental stimulation, and socialization among elders. We started with several brainstorming sessions before transgressing into sketching concepts. </p>
	<ul>
    <li>Brainwriting was used to trigger ideas from others&rsquo; ideas</li>
    <li>External group brainstorming with props was used to broaden our scope</li>
    <li>Focus on health monitoring was emphasized</li>
  </ul>
</div>

<div class="description">
  <h3>New Center</h3>
<h4>Exercise Room</h4>
<ul>
  <li>Keeps track of one&rsquo;s physical abilities</li>
  <li>Provides custom exercise movements that are appropriate for each individual</li>
  <li>Allows doctors to see one&rsquo;s problem areas which can be addressed before a condition
	worsens and evolves into a larger issue</li>
	<li>Permits doctors to input exercises they see fit into the system</li>
</ul>
</div>

<div class="description">
  <h3>New Center</h3>
<h4>FOOD + NUTRITION ROOM</h4>
<h5>Interactive touchscreen table</h5>
<ul>
  <li>Displays nutrition information along with a personal health profile</li>
  <li>Reveals alerts or reminders of healthy dieting from patient&rsquo;s doctor</li>
  <li>Presents exercise progression</li>
</ul>
</div>

<div class="description">
  <h3>New Center</h3>
<h4>Leisure &amp; Entertainment Room</h4>
<ul>
  <li>Socially engages users to walk, jog, and spend time together </li>
  <li>Allows users to view and &ldquo;travel&rdquo; to anywhere they want in the world</li>
  <li>Provides a whole new mind and body experience that allows users to &ldquo;get away&rdquo;</li>
	<li>Enables users to absorb different cultures and broaden their horizons
		</li>
	<li>Keeps track of users&rsquo; endurance and speed records for healthcare check-up&rsquo;s if need be</li>
</ul>
</div>

<div class="description">
  <h3>New Center</h3>
<h4>RELAXATION + HEALTH MONITORING ROOM</h4>
<h5>Lounge chair</h5>
<ul>
  <li>Monitors health conditions and send data to doctor</li>
  <li>Provide custom massages for relaxation</li>
</ul>
</div>