<div class="scroller">
	<img src="/images/obesity/obesity_01.jpg" alt="1st obesity image"/>
	<img src="/images/obesity/obesity_02.jpg" alt="2nd obesity image"/>
	<img src="/images/obesity/obesity_03.jpg" alt="3rd obesity image"/>
	<img src="/images/obesity/obesity_04.jpg" alt="4th obesity image"/>
	<img src="/images/obesity/obesity_05.png" width="310" height="393" alt="5th obesity image"/>
	<img src="/images/obesity/obesity_06.png" width="310" height="393" alt="6th obesity image"/>
	<img src="/images/obesity/obesity_07.png" alt="7th obesity image"/>
	<img src="/images/obesity/obesity_08.png" alt="8th obesity image"/>
	<img src="/images/obesity/obesity_09.png" alt="9th obesity image"/>
	<img src="/images/obesity/obesity_10.png" alt="10th obesity image"/>
	<img src="/images/obesity/obesity_11.png" alt="11th obesity image"/>
	<img src="/images/obesity/obesity_12.png" alt="12th obesity image"/>
	<img src="/images/obesity/obesity_13.png" alt="13th obesity image"/>
	<img src="/images/obesity/obesity_14.png" alt="14th obesity image"/>
	<img src="/images/obesity/obesity_15.png" alt="15th obesity image"/>
</div>

<%=erb(:scroller)%>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
    <span class="date">December 2009 : 4 months / Individual Project</span>
The goal of this project was to design a system that gives mothers a better idea of the effects of obesity and what they could do early on to prevent it for their children.</p>

<h6>Skills Applied</h6>
<p>User Research &amp; Interviewing, Idea Generation, Sketching, Synthesis, Book Binding </p>

</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
Deciding which information is the most critical to represent after interviewing mothers, shadowing physicians, and reading journals are some of the interesting challenges that I faced during this project.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>

<div class="description">
  <h3>Obesity</h3>
  <p class="caption">
The poster is designed to bring about increased public awareness while the information booklet, which would be obtained from clinics, hospitals, and various locations, is geared towards mothers.</p>
</div>