<div class="scroller">
	<img src="/images/pivotal/pivotal_06.jpg" alt="a youna yang"/>
	<img src="/images/pivotal/pivotal_02.jpg" alt="2nd pivotal image"/>
	<img src="/images/pivotal/locations_map.png" />
  <img src="/images/pivotal/pivotal_03.jpg" />
  <img src="/images/pivotal/work_model.png" />
  <img src="/images/pivotal/service_blueprint_web.png" />
  <img src="/images/pivotal/presenting_relevant_info.jpg"/> 
  <img src="/images/pivotal/usability.jpg" />
  <img src="/images/pivotal/patient_interaction.jpg" />
  <img src="/images/pivotal/design_directions_cost_value.png"/>
	<img src="/images/pivotal/iteration_diagram.png"/>
	<img src="/images/pivotal/brainstorming.jpg" />
	<img src="/images/pivotal/pivotal_05.jpg" />
	<img src="/images/pivotal/paper_prototyping.jpg" />
	<img src="/images/pivotal/click-through_prototyping.jpg" />
	<img src="/images/pivotal/usability_testing.jpg" />
</div>

<%=erb(:scroller)%>

<div class="description">
  <h3>PiVotal</h3>
  <p class="caption">
    <span class="date">July 2010 : 7 month Master's Capstone Project / Client GE Healthcare / Design Lead </span>
The Patient Information View (PIV) is a better way for doctors to quickly &amp; easily analyze relevant &amp; overall patient information. The intuitive design brings attention to crucial patient information to minimize critical risks & possible mistakes. Alongside the PIV, less time is wasted at the computer, allowing more face-time with patients. With easier access to relevant information & assist in diagnosis, the PIV is a transition from traditional medical software. 
</p>

  <h6>Skills Applied</h6>
  <p>Contextual research and synthesis, Lead brainstorming sessions, Design, Usability testing, Think-aloud Protocol Documentation</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
<h5>Researched, Tested, &amp; Designed Fully Functioning Prototype in Team of 5</h5>
<p>Through a semester of research and a semester of design in an interdisciplinary team of five students, we thoroughly tested and physician-validated our design.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
<h5>Research Goal : Gain Thorough Understanding of Workflows &amp; Information Needs within Healthcare</h5>
<p>To conduct our research we visited 8 facilities in several cities and spoke with 12 physicians ranging in specializations including emergency, internal, &amp; sports medicine, anesthesiology and radiology. Nurses, physician assistants, technicians, &amp; radiology IT staff members were also people in supporting roles that we spoke to.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
<h4>Research Methods helped understand overall problem space</h4>

<h5>Contextual Inquiry</h5>
<p>In-context observations of real work practices to understand tacit knowledge and communication</p>

<h5>Directed Storytelling</h5>
<p>Retrospective accounts of specific recent situations prompted by the interviewer to elicit experiential knowledge and stories</p>

<h5>Short Interviews</h5>
<p>Focused question-and-answer sessions to understand a specific topic</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
<h4>Synthesis Process for higher level insights</h4>

<h5>Transcription</h5>
<p>Distilled the overwhelming amount of collected data we transcribed hours of audio recordings</p>

<h5>Work Modeling</h5>
<p>Modeled information flow, workplace culture, and communication</p>

<h5>Affinity Diagraming</h5>
<p>Wrote all ideas on post-it notes &amp; grouped by similarity; categories grew organically</p>
  <id="download_images">
    <a id="download_images_text" href="/flow_model.pdf">download full model</a>
  </div>  
</div>


<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
    <h4>Findings</h4>
    <h5>Lack of Integration Wastes Valuable Time</h5>
<p>At all of the facilities we visited, we observed widespread problems with software integration. Physicians and staff that we spoke with complained of having to open several different programs in order to view all of the information that they needed for a patient encounter.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
    <h4>Findings</h4>
    <h5>Need for Presenting Relevant Information</h5>
<p>EMRs make entering information and storing documents incredibly easy, simultaneously it overwhelms physicians to view every medical encounter that a patient has had. In the context of a particular patient complaint, physicians need to view very specific information.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
    <h4>Findings</h4>
    <h5>Many Problems Tied Directed to Poor Usability</h5>
<p>Doctors were often confused by convoluted or illogical navigation and organizational hierarchies in the software. Other unintuitive aspects of both the system implementation and design of the user interface wasted time or detracted from quality of patient care.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
    <h4>Findings</h4>
    <h5>Doctors Want to Prioritize Patient Interaction</h5>
<p> In order to ensure the highest quality care for their patients, doctor need to have complete knowledge of any relevant information for a visit. Doctors said that current technologies, such as computers-on-wheels or wall-mounted workstations, didn&#x27;t support this goal since they were bulky & impeded communication with the patient.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
    <h5>Recommendations Evaluated on Cost vs. Value Matrix</h5>
<p> From our findings, we extracted the design recommendations most relevant to the scope of PIV. We determined the cost and value of each finding and placed them on the axes accordingly. The value of each recommendation is based on findings from our field research. Cost is the time and effort required to implement the recommendation, in addition to its monetary cost.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
  <h5>Iterative Processes Helped Develop Best Possible Design Solution</h5>
<p> Using insights from the research phase, a series of brainstorming activities and participatory design sessions shaped the direction of the PIV. As we discovered critical information, we began a cycle of paper and click-through prototyping. The high-fidelity implementation phase consisted of usability testing, internal review, and continued implementation.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
  <h5> Brainstorming Creatively Generated Vast Quantity &amp; Range of Ideas</h5>
<p> It allowed our group to break free from traditional ways of thinking and allowed us to look at the problem from fresh perspectives. At the start of the idea generation phase it was crucial to test the edges of our realm to elicit novel ideas. </p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
<h5>Card Sorting, Participatory Design Method, Involved Participants in Design Process</h5> 
<p>Physician were given cards with different types of patient information and asked to organize the cards and discuss his thought process. This physician organized them in a way that seems logical to him by importance, sequence, or related information.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
<h5>Paper Prototyping Quickly Elicited User Feedback About Interface</h5> 
<p>It allowed the design team to perform rapid iterations before committing to a visual style
or high-fidelity implementation. The cost of creating new paper prototypes is very low, which made it easy to discard designs that don&rsquo;t work, move on to improved versions, and experiment with new ideas.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
<h5>Click-through Prototyping Tested Higher-fidelity Designs &amp; Interactive Elements</h5> 
<p>The feedback from click-through prototypes was greater quality than paper prototypes since users have an easier time imagining how the system will actually work. Adobe Fireworks &amp; Illustrator
were used for the layout of the wireframe while Adobe Flash Catalyst &amp; HTML provided interactivity.</p>
</div>

<div class="description">
  <h3>Pivotal</h3>
  <p class="caption">
<h5>Usability Testing Determined Performance of the System</h5> 
<p>Receiving feedback from physicians as they used think-aloud protocol allowed us to immediately fix usability problems and iterate on the design. We conducted rapid usability tests in the cafeteria at a local hospital, giving us access to a large number of physicians from a variety of different departments.</p>

<h7>We have many great deliverables from this project, including reports, videos, and a working prototype. Unfortunately, we are unable to share this freely on the internet. Feel free to contact me for more information! </h7>


</div>
