<div class="scroller">
<img src="/images/sketchbook/sketchbook_1.jpg" alt="first sketch"/>
<img src="/images/sketchbook/sketchbook_2.jpg" alt="second sketch"/>
</div>
<%=partial(:scroller)%>

<div class="description">
  <h3>Sketchbook</h3>
  <p class="caption">
These are hand drawings from various times throughout 2006-2010. More to come!</p>
</div>
