<div class="scroller">
  <img src="/images/smartcard/smartcard_1.jpg" alt="first smartcard image"/>
  <div class="video">
<object width="524" height="393"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11249053&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=8fe3e0&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11249053&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=8fe3e0&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="524" height="393"></embed></object>
  </div>
  
  <img src="/images/smartcard/smartcard_2.jpg" alt="1st smartcard image"/>
  <img src="/images/smartcard/smartcard_3.jpg" alt="2nd smartcard image"/>
  <img src="/images/smartcard/smartcard_4.jpg" alt="3rd smartcard image"/>
</div>

<%=partial(:scroller)%>

<div class="description">
  <h3>SmartCard Device</h3>
  <p class="caption">
    <span class="date">December 2008 : 3 months / Client NXP (semiconductor company founded by Philips) / Individual Project</span>
    This project took place during my study abroad at the Eindhoven University of Technology. The challenge of this project was to design a multifunctional smart card which meets the privacy and convenience criteria and gives users enough control to feel safe for 7 years into the future.
  The interface of the device provides users customizable control for safety and convenience. </p>
  
  <h6>Skills Applied</h6>
  <p>Literature review, Sketching, Idea Generation, Paper prototyping, Click-through prototyping, User Testing, Concept Development, Video Sketch Production</p>
  
</div>


<div class="description">
  <h3>SmartCard Device</h3>
<h5>Dual Biometric Scanner + Screen</h5>
  <p class="caption"> 
&ldquo;Seiko Epsom has developed a paper thin fingerprint reader that has great promise for self-authentication of credit cards and other small devices that require security and authentication, due by 2010.&rdquo;</p>

  <h5>Touch Activation</h5>
<p>Scans and identifies the fingerprints of hand that is holding the device. Only after the scan is confirmed will the device will enter into the next screen.</p>

  <h5>Starting Up/Fingerprint Patterns</h5>
  <p>Device stores user&rsquo;s fingerprints into it&rsquo;s memory only allowing the same fingerprints to gain access to the card. User then enters the fingerprint pattern which is also stored in the memory.</p>

  <h5>Installation of Card Applications</h5>
  <p>No third party involved in inputting applications on device. User logs in onto respective company&rsquo;s secure online account, connects device and the PC through USB connection</p>

  <h5>Control of Device</h5>
	<p class="caption">
		Secure + Open access<br/>
  	If the user wants more security for certain cards on the device he has the option to set a card to &ldquo;secure access&rdquo; which then will require the user to enter their fingerprint pattern in order for the transaction to go through.</p>

<h5>Safety Measures</h5>
<p>Save picture, wallpaper, or note on welcome screen which appears right before fingerprints are scanned. Device automatically turns off after 8 seconds of inactivity. Incorrect fingerprint pattern the device will shut down completely</p>

<h5>Self-Checking / Viewing of Transactions</h5>
<p>Need a key code to establish a secure connection between the device and the computer to view the usage history</p>

</div>

<div class="description">
  <h3>SmartCard Device</h3>
		<h5>Control of Device</h5>
  		<p class="caption">
	Secure + Open access<br/>
If the user wants more security for certain cards on the device he has the option to set a card to &ldquo;secure access&rdquo; which then will require the user to enter their fingerprint pattern in order for the transaction to go through.</p>
  </div>

<div class="description">
<h3>SmartCard Device</h3>
<p>There were initial explorations of ways to provide users physical control of a multi-functional smart card before focusing on the interface
	</p>
</div>

<div class="description">
  <h3>SmartCard Device</h3>
	<p>User research was conducted with the different paper prototypes that correspond to the different physical prototypes. Users liked the idea of a double check screen that asked whether what the user selected is what they actually meant. This gave the users a stronger feeling of control since if they were to make a mistake they would have another chance to correct it.
		</p>
</div>