<div class="scroller">
  <img src="/images/sparclean/sparclean_1.jpg" alt="SparClean Display"/>

  <div class="video">
<object width="593" height="393"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11248096&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=8fe3e0&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11248096&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=8fe3e0&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="593" height="393"></embed></object>
  </div>  

  <img src="/images/sparclean/sparclean_3.png" 
  alt="iteration model"/>
  
  <img src="/images/sparclean/sparclean_4.png" 
  alt="research findings models"/>
  
  <img src="/images/sparclean/sparclean_5.png" 
  alt="USER NEEDS"/>
  
  <img src="/images/sparclean/sparclean_6.png" 
  alt="USER NEEDS"/>
  
  <img src="/images/sparclean/sparclean_7.png" alt="FINDINGS FROM SPEED-DATING"/> 

  <img src="/images/sparclean/sparclean_8.jpg" alt="USER NEEDS"/>
</div>

<%=partial(:scroller)%>

<div class="description">
  <h3>SparClean</h3>
  <p class="caption">
   <span class="date">May 2009 : 4 weeks / Design Lead</span>
SparClean is a touchcreen display that monitors the cleanliness of households and displays data of how dirty the areas within a home are, as well as which users in the house have been cleaning.</p>

  <h6>Skills Applied</h6>
  <p>User Research, Concept Generation, Storyboarding, Needs Validation (Speed-dating), Paper Prototyping, Concept Validation, Interface Design, Video Sketch Production </p>
</div>


<div class="description">
  <h3>SparClean</h3>
  <p class="caption">
SparClean is designed to motivate, facilitate communication, and promote self-enforcement for cleaning related tasks, which frequently cause problems in houses of three or more people.</p>
</div>

<div class="description">
  <h3>SparClean</h3>
  <p class="caption">
    Our group went through an iterative process where we first determined the problem opportunity and conducted user research in various forms. We then proceeded to evaluate our findings and redesign our initial ideas, before settling on our final design iteration.</p>
  </div>

<div class="description">
  <h3>SparClean</h3>
<h4>Research</h4>
<h5>What we did</h5>
  <p class="caption"> 
  Discovered underlying breakdowns that occurred in cleaning, in a task-sharing, collaborative household context. Particularly focused on college students who share a house or an apparent with 2 or 3 other housemates.</p>

  <h5>How we did it</h5>
  <ul>
    <li>Preliminary group discussion on problem areas</li>
    <li>General survey through SurveyMonkey to narrow down our focus</li>
    <li>Interviews &amp; Focus groups: Conducted interviews and group discussion with 9 different houses, each 
    house consisting of 3 to 4 housemates</li>
  </ul>
  <h5>What we learned</h5>
  <p>There is a distinct split in terms of how people divide up the cleaning task. They either clean areas where they have used and keep that area to themselves or they try to clean the common areas together and split up the tasks equally among the housemates.</p>
</div>


<div class="description">
  <h3>SparClean</h3>
<h4>User Needs</h4>
<h5>Functional Needs</h5>
<ul>
  <li>Users don&rsquo;t like to be constrained by fixed or rotational schedules because unexpected events do arise</li>
  <li>Users need more awareness of what needs to be done</li>
  <li>Fairness does not really mean &ldquo;equally shared among everyone&rdquo; but &ldquo;equivalent amount done relative to usage&rdquo;</li>
</ul>

  <h5>Social/Interpersonal Needs</h5>
  <ul>
    <li>Users are passive aggressive and don&rsquo;t want to be the bad guy</li>
    <li>Users do not want to do more than what their housemates are doing</li>
    <li>Need to settle difference in preferences and cleanliness values</li>
  </ul>
  <h5>Emotional Needs</h5>
  <ul>
    <li>Users are passive aggressive and don&rsquo;t want to be the bad guy</li>
    <li>Users do not want to do more than what their housemates are doing</li>
    <li>Need to settle difference in preferences and cleanliness values</li>
  </ul>
</div>

<div class="description">
  <h3>SparClean</h3>
<h4>User Needs</h4>
<h5>Functional Needs</h5>
<ul>
  <li>Users don&rsquo;t like to be constrained by fixed or rotational schedules because unexpected events do arise</li>
  <li>Users need more awareness of what needs to be done</li>
  <li>Fairness does not really mean &ldquo;equally shared among everyone&rdquo; but &ldquo;equivalent amount done relative to usage&rdquo;</li>
</ul>

  <h5>Social/Interpersonal Needs</h5>
  <ul>
    <li>Users are passive aggressive and don&rsquo;t want to be the bad guy</li>
    <li>Users do not want to do more than what their housemates are doing</li>
    <li>Need to settle difference in preferences and cleanliness values</li>
  </ul>
  <h5>Emotional Needs</h5>
  <ul>
    <li>Users are passive aggressive and don&rsquo;t want to be the bad guy</li>
    <li>Users do not want to do more than what their housemates are doing</li>
    <li>Need to settle difference in preferences and cleanliness values</li>
  </ul>
</div>

<div class="description">
  <h3>SparClean</h3>
<p>Once we narrowed down our 20 design concepts to 10 internally, we then went back to the different houses to get user feedback about the different ideas by speed-dating.
	</p>
<h4>FINDINGS FROM SPEED-DATING</h4>
<h5>Flexibility issues</h5>
<ul>
  <li>Some people end up doing more cleaning than others</li>
  <li>Users are delinquent and don&rsquo;t clean when asked to</li>
  <li>Users are too passive aggressive to voice up</li>
</ul>

  <h5>Interpersonal Issues</h5>
  <ul>
    <li>Don&rsquo;t want a system that makes cleaning even more time-consuming</li>
    <li>Don&rsquo;t want to be constantly &ldquo;spammed&rdquo; by a system</li>
    <li>Users are &#x27;lazy&#x27; and don&rsquo;t want to make extra effort</li>
  </ul>
  <h5>Emotional Issues</h5>
  <ul>
    <li>Don&rsquo;t like being told by a machine what to do</li>
    <li>On the other hand, no one wants to act as the enforcer</li>
  </ul>
<p>After our Concept Validation we narrowed down the concepts to the ones that users responded best to and to the ones that covered a wide range of needs. The design used key components of the collaborative list, puzzle board, and meter system ideas.</p>
</div>

<div class="description">
  <h3>SparClean</h3>
<h4>ITERATIVE PROCESS</h4>
  <p class="caption"> 
With the new feedback from the concept validations in mind, we reassessed the potential design of our product. We learned we needed to create a product that didn&rsquo;t require too much effort from the users side since participants expressed that they are busy and do not want to spend extra time on the cleaning process as it is. This product could not be intrusive on the user&rsquo;s daily life by spamming them with notifications that would make the product undesirable.</p>

  <p>Noticeable yet not bothersome, SparClean is best embodied in a touchscreen display in a common living area of the house.  It illustrates how much each housemate cleans in the house and presents tasks that need to be completed in each room. These tasks are initially decided by the users after they come to a consensus on which chores they feel should be completed in the house. In the end, our process led us to combine our most popular concepts, the Jigsaw Display, the Meter System, and the Collaborative Checklist.</p>
</div>
