<div class="scroller">

  <img src="/images/typography/typography_grid.png" alt="first smartcard image"/>
  
	<div class="video">
<object width="593" height="430"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=17617893&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=8fe3e0&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=17617893&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=8fe3e0&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="593" height="430"></embed></object>
  </div>
  


</div>
<%=erb(:scroller)%>

<div class="description">
  <h3>Typography</h3>
  <p class="caption">
    <span class="date">September 2010</span>
Challenge: capture the essence of the typeface Mrs Eaves Italic, including letters and numbers, in two, cropped, 9x9 grids. Determine which croppings of the self-selected letters is most representative of the typeface while maintaining a strong cohesive visual composition. Discovering the balance between displaying just the right amount of information and filtering out the superfluous ones was the most important takeaway of this study.</p>
</div>

<div class="description">
  <h3>Typography</h3>
  <p class="caption">
    <span class="date">December 2010</span>
Used motion as a means of communication in this 2 minute overview of the typographer Jan Tschichold. More typographic studies to come!</p>
</div>