<div class="scroller">
<img src="/images/vessel/vessel_1.jpg" alt="first vessel image"/>
<img src="/images/vessel/vessel_2.jpg" alt="second vessel image"/>
<img src="/images/vessel/vessel_3.jpg" alt="third vessel image"/>
<img src="/images/vessel/vessel_4.jpg" alt="4th vessel image"/>
<img src="/images/vessel/vessel_5.jpg" alt="5th vessel image"/>
</div>
<%=erb(:scroller)%>

<div class="description">
  <h3>Vessel Form</h3>
  <p class="caption">
    <span class="date">December 2007 : 1.5 months / Individual Project</span>
Creating a visually and physically appropriate home for the plant Sanseviera Moonshine, this project balances the qualities of sculptural objects and functional art. The solid black piece counter balances the white housing, however the two pieces work in harmony, supplementing the form of the plant.</p>

<h6>Skills Applied</h6>
<p>Idea generation, Sketching, Foam modeling, Concept development, Vacuforming, Wood-modeling, Marker rendering</p>

</div>
